/*
We're using `calc` a lot to calculate geometry on the fly--
Check out https://developer.mozilla.org/en-US/docs/Web/CSS/calc for more.
*/

html, body {
	height: 100%;
	margin: 0;
}

body {
	overflow: hidden;
	min-width: 960px;
}

header, footer {
	background-color: #706a61;
	height: 100px;
	line-height: 100px; /* By making the line-height as tall as the header, we vertically center the text */
	color: #150d02;
	font-family: 'Josefin Slab', serif;
	font-size: 3em;
	text-align: center;
	font-weight: 700;
	width: 100%;
}

header {
	background: url(sky.jpg);
}

footer {
	background: url(bottom.png) repeat;
	border-top: 2px solid #2e291d;
}

main {
	min-width: 960px;
	height: calc(100% - 2*100px);
	background-color: #a49d8b;
    background: url(bg.jpg) repeat;
}

#content {
	height: 100%;
	min-width: 960px;
	position: relative;
}

img {
	width: 100%;
	border-radius: 10%;
	border: 2px solid #2e291d;
	box-shadow: 1px 3px 10px #3A362E;
}

video {
	position: absolute;
	top: calc(1.5 * 7.525% + 23.3% - (180px / 2));
	left: calc(50% - 320px / 2);
	height: 180px;
	width: 320px;
	border-radius: 10%;
	border: 2px solid #2e291d;
	box-shadow: 1px 3px 10px #3A362E;
}

#detail {
	background-color: #3A362E;
	position: absolute;
	height: 23.3%;
	top: calc(100% - 23.3% - 7.525%);
	left: calc(50% - 320px / 2 - 128px * 1.5);
	right: calc(50% - 320px / 2 - 128px * 1.5);
}

/* Clever trick to make a triangle with CSS:
http://apps.eky.hk/css-triangle-generator/ and
http://codepen.io/chriscoyier/pen/lotjh */
#next-triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 61px solid transparent;
	border-right: 61px solid transparent;
	border-top: 30.75px solid #2e291d;
	left: calc(50% - 61px);
	top: calc(100% - (7.525% + 30.75px)/2);
	font-size: 0;
	line-height: 0;
}

#next-triangle:hover {
	border-top: 30.75px solid #565346;
}

/* DETAIL PANELS */
aside {
	width: 128px;
	height: 23.3%;
	position: absolute;
}

.right {
	right: calc(50% - 320px / 2 - 128px * 1.5);
}

.right:hover {
	transition: width 1s, height 1s, transform 1s;
	-webkit-transition: width 1s, height 1s, -webkit-transform 1s;
	transform: scale(2,2);
	-ms-transform: scale(2,2); /* IE 9 */
	-webkit-transform: scale(2,2); /* Safari and Chrome */
}

.left {
	left: calc(50% - 320px / 2 - 128px * 1.5);
}

.left:hover {
	transition: width 1s, height 1s, transform 1s;
	-webkit-transition: width 1s, height 1s, -webkit-transform 1s;
	transform: scale(2,2);
	-ms-transform: scale(2,2); /* IE 9 */
	-webkit-transform: scale(2,2); /* Safari and Chrome */
}

.top {
	top: 7.525%; /*(100 - 23.3*3)/4%*/
}

.bottom {
	top: calc(7.525% * 2 + 23.3%);
}

/* NAVBAR */
nav {
	float: right;
	width: 32px;
	height: 100%;
	left: calc(100% - 32px * 1.5);
}

nav ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
	height: 100%;
	width: 100%;
}

nav ol li {
	width: 100%;
	height: 10%;
	background-color: #a49d8b;
	padding: 0;
	margin: 0;
	background: url(right.png) fixed;
}

.active-waypoint {
	background-color: #90887B;
}

li div {
	background-color: #150d02;
	position: relative;
	top: 19px;
	width: 20px;
	height: 20px;
	margin-right: auto;
	margin-left: auto;	

}

li div:hover {
	background-color: #eee;
	 transform:rotate(180deg);
	-webkit-transform:rotate(180deg); /* Safari */
	transition:width 2s, height 2s, transform 2s;
	-webkit-transition:width 2s, height 2s, -webkit-transform 2s; 
	transform: scale(2,1);
	-ms-transform: scale(2,1); /* IE 9 */
	-webkit-transform: scale(2,1); /* Safari and Chrome */
}